<section class="hero is-medium hero-services-intro">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-6">
          <h1 class="title is-1 m-b-2 has-text-centered sr-intro-title has-text-white">
            ETW offers a wide range of professional services targeted at tangible results.
          </h1>

          <div class="has-text-centered m-t-1">

            <!-- VIDEO MODAL -->
            <button class="button is-large is-success is-rounded m-r-1 m-b-1" v-on:click="toggleModal()">
              Watch Video
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
