<section class="hero is-medium section-bms">
  <div class="hero-body">
    <div class="columns">
      <div class="column is-6">
        <div class="m-b-2 sr-section-bms-title">
          <p><small class="has-text-grey">ABOUT ETW</small></p>
          <h1 class="title is-1">Business Management Solutions</h1>
        </div>
        <p class="m-b-_5 sr-section-bms-text-1">We help to connect each employee to strategy and culture to drive tangible results. With the use of a cloud-based management software, a proven management approach and results-oriented professional services team, ETW will provide you with the
          tools you need to raise engagement, build an intentional culture, improve performance and increase profitability.</p>
        <p class="m-b-1_5 sr-section-bms-text-2">We do this by guiding you through a unique workflow to discover better organizational alignment, which leads you to have better conversations, leading to better actions and will ultimately produce better results.</p>
        <router-link :to="{ name: 'about' }" class="button is-primary sr-section-bms-button">
          More about our history
        </router-link>
      </div>
    </div>
  </div>
</section>
