<section class="hero is-medium section-professional-services m-y-2">
  <div class="hero-body">
    <div class="columns">
      <div class="column is-5 is-offset-6">
        <div class="m-b-2 m-t-3 sr-section-services-title">
          <p><small class="has-text-grey">PROFESSIONAL SERVICES</small></p>
          <h1 class="title is-1">Align your organization for better results</h1>
        </div>
        <p class="m-b-2 is-size-5 sr-section-services-text">The ETW Professional Services team takes a practical approach to providing clients with proven best business practices that enhance overall operational efficiency.</p>
        <router-link :to="{ name: 'services' }" tag="button" class="button is-medium is-primary is-outlined is-rounded sr-section-services-button">
          More about our services
        </router-link>
      </div>
    </div>
  </div>
</section>
