<div>

  <div class="hero is-medium section-professional-services">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-5 is-offset-6">
            <div class="m-b-2 m-t-3 sr-section-services-title">
              <p><small class="has-text-grey">PROFESSIONAL SERVICES</small></p>
              <h1 class="title is-2">ALIGN YOUR ORGANIZATION FOR BETTER RESULTS</h1>
            </div>
            <p class="m-b-1_5 sr-section-services-text-1">Services provided by our ETW Professional Services team work either as a complement or standalone to the ETW Software solution. Whether you decide to use the software or not, our Professional Services team is available to consult on your business challenges and provide a la carte services to get your organization working as one successful unit.</p>
            <router-link :to="{ name: 'services' }" class="button is-primary sr-section-services-button">
              More about our services
            </router-link>
          </div>

          <div class="column is-4 is-offset-2">

          </div>
        </div>
      </div>
    </div>
  </div>


</div>
