<section class="hero is-medium slide-resources">
  <div class="hero-body">
    <div class="container">
    Resources<br><br>
                <strong>ROI of an Intentional Culture</strong><small>&nbsp;Whitepaper<small>&nbsp;10 minute read</small></small>
                <br>
                An intentional culture is a culture that is defined, communicated and integrated into the business management process to drive better results for the organization. Learn about the positive effects building an intentional culture has on your ROI.
              </p>
            </div>
            
  </div>
</section>
