<section class="hero section-software-notes m-y-3">
  <div class="hero-body">
    <div class="columns is-vcentered">
      <div class="column is-4">
        <figure class="image is-96x96">
          <img src="../../../../static/zero-state/goals.png" alt="Goals">
        </figure>
        <h3 class="title is-3">Improve stategic planning and execution</h3>
        <p class="is-size-5">Easily articulate and translate your long-term strategy into actionable goals. Take the concept of your strategy, and turn it into a reality with a comprehensive execution plan for your team or organization.</p>
      </div>
      <div class="column is-6 is-offset-2 has-text-centered">

        <img src="../../../../static/goal-card.png" alt="Goal Card" class="sr-goal-card">

        <img src="../../../../static/note-2.png" alt="Note" class="sr-note-2 m-r-2">

        <img src="../../../../static/note-1.png" alt="Note" class="sr-note-1 m-l-2">

      </div>
    </div>
  </div>
</section>
