<div>
  <section class="hero section-software-notes m-y-3">
    <div class="hero-body">
      <div class="columns is-vcentered">
        <div class="column is-4">
          <figure class="image is-96x96">
            <img src="../../../../static/zero-state/goals.png" alt="Goals">
          </figure>
          <h3 class="title is-3">Improve strategic planning and execution</h3>
          <p class="is-size-5">Easily articulate and translate your long-term strategy into actionable goals. Take the concept of your strategy, and turn it into a reality with a comprehensive execution plan for your team or organization.</p>
        </div>
        <div class="column is-6 is-offset-2 has-text-centered">

          <img src="../../../../static/goal-card.png" alt="Goal Card" class="sr-goal-card">

          <img src="../../../../static/note-2.png" alt="Note" class="sr-note-2 m-r-2">

          <img src="../../../../static/note-1.png" alt="Note" class="sr-note-1 m-l-2">

        </div>
      </div>
    </div>
  </section>

  <section class="section m-y-5 b-t b-b">
    <div class="columns">
      <div class="column">
        <article class="media">
          <figure class="media-left">
            <div class="image is-96x96">
              <img src="../../../../static/zero-state/plans.png" alt="Plans">
            </div>
          </figure>
          <div class="media-content">
            <p class="title">Plans</p>
            <p class="is-text-5">The plan feature in ETW allows you to create and cascade top-level plans and supporting plans throughout your organization. Users have the ability to create an unlimited number of plans, and related supporting plans to properly cascade their objectives throughout the organization.</p>
          </div>
        </article>
      </div>
      <div class="is-divider-vertical" data-content="AND"></div>
      <div class="column">
        <article class="media">
          <figure class="media-left">
            <div class="image is-96x96">
              <img src="../../../../static/zero-state/messages.png" alt="Plans">
            </div>
          </figure>
          <div class="media-content">
            <p class="title">Real-time Communications</p>
            <p class="is-text-5">Easily communicate with direct messaging. Essentially our “chat” feature allows person-to-person discussion for items that don’t necessarily need to be a part of a Plan or Goal conversation.</p>
          </div>
        </article>
      </div>
    </div>
  </section>


</div>
