<div>

  <div class="hero is-medium section-professional-services">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-5 is-offset-6">
            <div class="m-b-2 sr-section-services-title">
              <p><small class="has-text-grey">PROFESSIONAL SERVICES</small></p>
              <h1 class="title is-2">TITLE</h1>
            </div>
            <p class="m-b-1_5 sr-section-services-text-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi excepturi quo delectus praesentium placeat porro debitis. Minus obcaecati sunt aspernatur expedita libero temporibus magnam laboriosam pariatur animi! Nemo, officiis laudantium.</p>
            <router-link :to="{ name: 'services' }" class="button is-primary sr-section-services-button">
              More about our services
            </router-link>
          </div>

          <div class="column is-4 is-offset-2">

          </div>
        </div>
      </div>
    </div>
  </div>


</div>
