<div>

  <div class="hero">
    <div class="hero-body has-text-centered">
      <h3 class="title is-3 sr-about-etw-title">We help companies improve performance</h3>
      <h4 class="subtitle is-5 sr-about-etw-subtitle">Through Business Services and Software</h4>
    </div>
  </div>

  <section class="hero is-small section-about-etw">
    <div class="hero-body">
      <div class="columns">
        <div class="column" v-for="about in aboutETW">
          <div class="media sr-about-etw-sections">
            <div class="media-left">
              <figure class="image is-96x96">
                <img v-bind:src="about.image" v-bind:alt="about.title">
              </figure>
            </div>
            <div class="media-content m-l-1">
              <div class="content">
                <h3 class="title is-4">{{ about.title }}</h3>
                <p>{{ about.body }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
