@import 'colors';
@import 'fonts';
@import 'functions';
@import 'mixins';
@import 'variables';

.leadership-resources-container {
  background-color: $white;

  .articles-main-container {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 104px;

    @media only screen and (max-width: $phone) {
      margin: 0 auto;
      padding-bottom: 96px;
    }

    .articles-text-container {
      margin-bottom: 64px;

      h1 {
        letter-spacing: 0.5;
        margin: 0 0 10px;
        @media only screen and (max-width: $desktop) {
          width: 100%;
        }

        @media only screen and (max-width: $tablet) {
          max-width: 100%;
          font-size: 45px;
        }

        @media only screen and (max-width: $phone) {
          width: 95%;
          font-size: 40px;
        }
      }

      .tags-container {
        @include flex(row);

        span {
          font-family: $poppins;
          font-size: 11px;
          letter-spacing: 1;
          text-transform: uppercase;
          margin: auto 4px;
        }

        .category-pill-container {
          border-radius: 12px;
          margin: 10px 0 10px 5px;
        }
      }
    }

    .bio-article-container {
      @include flex(row);

      .bio-container {
        @include flex;
        flex: 25;

        .pic-container {
          height: 110px;
          width: 110px;

          .lee-benson {
            background-image: url('/lee-benson.jpg');
            background-position: right;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 50%;
            height: 100%;
          }
        }

        h4 {
          font-family: $lora;
          letter-spacing: 0.5;
          margin-bottom: 0;
        }

        p {
          font-family: $roboto-light;
          font-size: 13px;
          line-height: 1.6;
          width: 87%;
        }

        .arrow-link {
          margin: 0;

          .call-to-action {
            font-family: $poppins-semiBold;
            font-size: 12px;
            margin: 0;
          }

          .arrow-svg {
            margin: 5px 0 0 6px;
          }
        }

        .share-links {
          border-top: 1px solid #d6d4d0;
          margin: 32px 44px 0 0;
        }

        .share-icons {
          height: 30px;
          margin: 10px 10px 0 0;
        }
      }

      .article-container {
        @include flex;
        flex: 75;
        justify-content: center;
        text-align: left;

        .blog-pics {
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          display: flex;
          align-items: flex-end;
          flex: 1;
          border-radius: 4px;

          &.blog-header-pic {
            background-image: url('/typing-hands.svg');
            min-height: 280px;
            margin-bottom: 18px;
          }

          &.blog-footer-pic {
            background-image: url('/blog-footer-pic.svg');
            min-height: 340px;
            margin-top: 56px;
            border-radius: 4px 4px 0 0;
          }
        }

        p,
        li {
          font-family: $roboto-light;
          font-size: 18px;
          color: #777;
          line-height: 1.6;
        }

        h2 {
          margin: 0;
        }

        h3 {
          margin-bottom: 64px;
        }

        a {
          color: $sea;
        }

        .button-link {
          width: 100%;

          .etw-webinar-button {
            width: 100%;
            border: 0;
            border-radius: 0 0 4px 4px;

            .arrow-link {
              margin: auto;

              .call-to-action {
                color: $white;
                margin: 0;
                font-family: $poppins-semiBold;
                font-size: 13px;
              }

              .arrow-white-svg {
                color: $white;
                height: 12px;
                margin: 3px 0 0 4px;
              }
            }
          }
        }
      }
    }
  }
}
