.card {
    box-shadow: $box-shadow;

    .card-header {
        padding      : 1.25rem 1.875rem;
        border-radius: 0.25rem 0.25rem 0 0;

        .card-title {
            @extend .h6;
            font-size: 0.9375rem;
            margin   : 0;
        }
    }

    .card-body {
        .card-title {
            font-family   : $headings-font-family;
            font-size     : 1.5rem;
            text-transform: none;
            display       : block;
            font-weight   : bold;
            color         : $gray-900;

            &:hover {
                text-decoration: none;
                color          : $link-hover-color;
            }
        }
    }

    .card-footer {
        border-radius   : 0 0 0.25rem 0.25rem;
        padding         : 0.625rem 1.875rem;
        background-color: $bisque;
    }

    &.card-lg {
        .card-title {
            font-size: 2.5rem;

            @include media-breakpoint-down(md) {
                font-size: 1.5rem;
            }
        }
    }

    &.testimonial-card {
        .card-body {
            padding: 2.5rem;

            .row {
                align-items: center;
            }

            .testimonial-cta {
                text-align: center;
                padding   : 0 2.5rem;
            }

            .testimonial-quote {
                text-align : center;
                padding    : 0 2.5rem;
                border-left: 2px solid $gray-300;

                @include media-breakpoint-down(md) {
                    border-left  : none;
                    padding-left : 0;
                    padding-right: 0;
                }
            }
        }
    }

    &.insight-card {
        min-height     : 30rem;
        text-decoration: none;

        &.card-lg {
            min-height: 34rem;
        }

        .card-img-bg {
            background-size        : cover;
            background-position    : center center;
            background-repeat      : no-repeat;
            display                : flex;
            align-items            : flex-end;
            flex                   : 1;
            border-top-left-radius : inherit;
            border-top-right-radius: inherit;
            padding                : 1rem 1.25rem;
        }

        .card-body {
            flex: 0 0 auto;
        }

    }

    &.list-card {
        .list-card-group {
            display    : flex;
            align-items: flex-start;

            @include media-breakpoint-down(md) {
                flex-direction: column;
            }

            &:not(:last-child) {
                margin-bottom: 1.25rem;
            }

            img {
                flex        : 0 0 auto;
                margin-right: 1.25rem;
                max-height: 60px;
                max-width: 53px;

                @include media-breakpoint-down(md) {
                    margin-right : 0;
                    margin-bottom: 1.25rem;
                }
            }
        }
    }
}

/* Card deck */
.card-deck {
    flex-wrap: wrap;

    .card {
        flex         : 0 0 calc(50% - 30px);
        margin-bottom: 2.5rem;

        @include media-breakpoint-down(md) {
            flex: 0 0 calc(100% - 30px);
        }

        &.card-lg {
            flex: 0 0 calc(100% - 30px);
        }

        &.testimonial-card {
            .testimonial-quote {
                border-left  : none;
                padding-left : 0;
                padding-right: 0;
                margin-bottom: 2.5rem;
            }
        }
    }

}
