.category-pill-container {
  background-color: #41bdac;
  border-radius: 10px;
  padding: 4px 10px;
  margin: 20px;

  .category-pill-text {
    color: white;
    font-family: Helvetica;
    font-size: 10px;
    letter-spacing: 0.5;
  }
}
