$night: #254c5a;
$forest: #007278;
$sea: #41bdac;
$sky: #b3dfd8;
$rain: #e0f1ee;
$heart: #d02b30;
$dusk: #605063;
$fire: #f5634a;
$ember: #ff9c5b;
$sun: #f9d423;
$bone: #eff3cd;
$fog: #ebe8ec;
$white: #fff;
$grey: #d6d4d0;

$light-bone: lighten($bone, 8.9);
$light-fog: lighten($fog, 5);
$dark-forest: darken($forest, 5);
