@import 'colors';
@import 'fonts';
@import 'functions';
@import 'mixins';
@import 'variables';

.etw-main-container {
  .etw-secondary-container {
    margin: 0 auto 104px;
    width: 80%;

    @media only screen and (max-width: $phone) {
      margin: 0 auto 96px;
    }

    .etw-core-values-container {
      @include flex(row);
      width: 100%;

      @media only screen and (max-width: $phone) {
        @include flex;
      }

      h1 {
        font-family: $lora;
        width: 90%;
        font-size: 53px;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 20px;
        line-height: 1.1;

        @media only screen and (max-width: $phone) {
          width: 95%;
          font-size: 40px;
        }
      }
      p {
        width: 80%;
        color: #777777;
        font-family: $montserrat;
        line-height: 1.6;
      }

      .etw-core-values-left-container {
        flex: 3;

        p {
          width: 64%;
          
          @media only screen and (max-width: $phone) {
            width: 97%;
          }
        }
          
          .etw-webinar-button {

            margin-top: 16px;

            @media only screen and (max-width: $phone) {
            width: 100%;
            margin: 30px 0 60px;
        }
      }
      }

      .etw-core-values-right-container {
        flex: 2;

        .etw-core-values-containers {
          @include flex(row);
          background: $white;
          font-family: $poppins;
          padding: 24px;
          border-radius: 4px;
          box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
          margin-bottom: 20px;

          @media only screen and (max-width: $phone) {
            @include flex;
            margin-bottom: 24px;
          }

          &:last-child {
            margin-bottom: 0;
          }

          .etw-strengthen-culture-icon,
          .etw-accelerate-growth-icon {
            height: 100px;
          }

          .etw-image {
            flex: 1;
            margin-right: 20px;

            @media only screen and (max-width: $phone) {
              margin: 0 0 20px;
            }
          }

          .content-container {
            flex: 3;

            h4 {
              margin: 0;
            }

            p {
              width: 100%;
              font-size: 12px;
            }

            a {
              @include flex(row);

              .call-to-action {
                @include call-to-action;
                width: auto;
                margin: 0 0;
              }

              .arrow-svg {
                margin: 3px 0 0 3px;
              }
            }
          }
        }
      }
    }
  }
}
