$lora-i: 'Lora-Italic';
$lora-b: 'Lora-Bold';
$lora-bi: 'Lora-BoldItalic';

$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;
$lora: 'Lora', serif;
$poppins: 'Poppins', sans-serif;
