$lora: 'Lora-Regular';
$lora-i: 'Lora-Italic';
$lora-b: 'Lora-Bold';
$lora-bi: 'Lora-BoldItalic';

$montserrat: 'Montserrat-Regular';
$montserrat-b: 'Montserrat-Bold';

$poppins: 'Poppins-Regular';
$poppins-elight: 'Poppins-ExtraLight';
$poppins-light: 'Poppins-Light';
$poppins-medium: 'Poppins-Medium';
$poppins-elightItalic: 'Poppins-ExtraLightItalic';
$poppins-i: 'Poppins-Italic';
$poppins-lightItalic: 'Poppins-LightItalic';
$poppins-mediumI: 'Poppins-MediumItalic';
$poppins-black: 'Poppins-Black';
$poppins-b: 'Poppins-Bold';
$poppins-ebold: 'Poppins-ExtraBold';
$poppins-semiBold: 'Poppins-SemiBold';
$poppins-blackI: 'Poppins-BlackItalic';
$poppins-bi: 'Poppins-BoldItalic';
$poppins-eboldI: 'Poppins-ExtraBoldItalic';
$poppins-semiBoldI: 'Poppins-SemiBoldItalic';
$poppins-thin: 'Poppins-Thin';
$poppins-thinI: 'Poppins-ThinItalic';

$roboto: 'Roboto-Regular';
$roboto-light: 'Roboto-Light';
$roboto-medium: 'Roboto-Medium';
$roboto-i: 'Roboto-Italic';
$roboto-lightI: 'Roboto-LightItalic';
$roboto-mediumI: 'Roboto-MediumItalic';
$roboto-black: 'Roboto-Black';
$roboto-b: 'Roboto-Bold';
$roboto-blackI: 'Roboto-BlackItalic';
$roboto-bi: 'Roboto-BoldItalic';
$roboto-thin: 'Roboto-Thin';
$roboto-thinI: 'Roboto-ThinItalic';

$roboto-condensed: 'Roboto Condensed';
