.etw-footer-ultimate-container {
  height: 50%;

  .etw-footer-main-container {
    margin: 120px auto 20px auto;
    width: 80%;

    .etw-footer-top-container {
      @include flex(row);
      margin-bottom: 40px;
      padding-bottom: 56px;
      border-bottom: 1.5px solid #d6d4d0;

      .etw-company-description-container,
      .etw-footer-input-container {
        @include flex;
        flex: 1;

        .etw-logo-dark-on-transparent {
          width: 70px;
        }

        p,
        a {
          font-family: $roboto;
          font-size: 12px;
          line-height: 1.5;
          margin-bottom: 0;
          color: #777777;
          width: 85%;
        }

        a {
          color: rgb(85, 82, 82);
          text-decoration: none;
        }
      }

      & :last-child {
        p {
          font-size: 18px;
          letter-spacing: 0.3;
          margin-top: 0;
        }

        .etw-subscribe-container {
          margin-top: 8px;
        }
      }
    }
  }

  .etw-footer-links-container {
    @include flex(row);
    padding-bottom: 56px;
    border-bottom: 1.5px solid #d6d4d0;

    .etw-footer-columns {
      @include flex;
      flex: 1;

      h4,
      h5 {
        font-family: $poppins;
        margin-bottom: 10px;
      }

      h4 {
        font-size: 17px;
      }

      h5 {
        font-size: 11px;
        margin-top: 32px;
        letter-spacing: 0.4;
        text-transform: uppercase;
      }

      p,
      a {
        font-family: $roboto;
        font-size: 13px;
        line-height: 1.8;
        letter-spacing: 0.4;
        margin-bottom: 0;
        color: #777777;
        margin-top: 0;
      }

      a {
        text-decoration: none;
      }
    }
  }
  .etw-footer-baseline-container {
    @include flex(row);
    margin-top: 14px;

    .etw-footer-baseline-proprietary {
      @include flex(row);
      flex: 6.5;
      justify-content: space-between;

      p {
        font-family: $roboto;
        font-size: 13px;
        line-height: 1.6;
        letter-spacing: 0.5;
        margin-bottom: 0;
        color: #777777;
      }
    }
    .etw-footer-baseline-social {
      @include flex(row);
      flex: 3.5;
      justify-content: flex-end;
      margin-top: 10px;
      .social-media-icons {
        height: 20px;
        width: 36px;
      }
    }
  }
}
