@import 'functions';

.etw-main-container {
  .etw-secondary-container {
    .etw-header-container {
      text-align: right;
      margin: spacing() 0 spacing(15);

      .etw-logo-dark-on-transparent {
        width: 11%;
        margin-top: 10px;
        float: left;
      }

      p {
        display: inline-block;
        font-family: $roboto;
        font-size: .82em;
        font-weight: 500;
        margin-top: 17px;
        margin-right: 25px;
        vertical-align: top;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .01em;
      }
      
      .etw-webinar-button {
        margin-top: 5px;
      }
    }
  }
}
