.etw-main-container {
  .etw-secondary-container {
    .etw-header-container {
      @include flex(row);
      margin: spacing() 0 spacing(15);

      @media only screen and (max-width: $phone) {
        margin: 8px 0 98px;
      }

      .etw-logo-header-container {
        justify-content: flex-start;
        flex: 2;

        @media only screen and (max-width: 1200px) {
          flex: 1.2;
        }

        .etw-logo-dark-on-transparent {
          width: 112px;
          margin-top: 10px;

          @media only screen and (max-width: $phone) {
            width: 28%;
          }
        }
      }

      .etw-header-links-container {
        @include flex(row);
        justify-content: space-between;
        flex: 3;
        margin-top: 1px;

        @media only screen and (max-width: $desktop) {
          display: none;
        }

        p {
          color: #222;
          font-family: $roboto;
          font-size: 13px;
          text-transform: uppercase;
          margin-top: 19px;
        }

        .etw-webinar-button {
          margin-top: 7px;
        }
      }
    }
  }
}
