.etw-main-container {
  .etw-secondary-container {
    .etw-header-container {
      @include flex(row);
      margin: spacing() 0 spacing(15);

      .etw-logo-header-container {
        justify-content: flex-start;
        flex: 2;

        .etw-logo-dark-on-transparent {
          width: 112px;
          margin-top: 10px;
        }
      }

      .etw-header-links-container {
        @include flex(row);
        justify-content: space-between;
        flex: 3;
        margin-top: 1px;

        p {
          font-family: 'Roboto', sans-serif;
          font-size: 13px;
          text-transform: uppercase;
          letter-spacing: 0.01em;
          margin-top: 19px;
        }

        .etw-webinar-button {
          margin-top: 7px;
        }
      }
    }
  }
}
