@import 'colors';
@import 'fonts';

.etw-main-container {
    .etw-secondary-container {
        .etw-home-top-container{
            height: 360px;
            h1 {
                font-family: $lora;
                width: 90%;
                letter-spacing: .01em;
                font-size: 3.3em;
                font-weight: 500;
                margin-bottom: 20px;
                line-height: 1.1em;
            }
            p {
                color: #777777;
                font-family: $montserrat;
                line-height: 1.6em;
            }
            .etw-home-top-left-container {
                height: 100%;
                width: 60%;
                float: left;
                p {
                    width: 78%;
                }
            }
            .etw-home-top-right-container {
                float: right;
                height: 110%;
                width: 40%;
                .etw-strengthen-culture-icon,
                .etw-accelerate-growth-icon {
                    height: 66%;
                    float: left;
                    margin-top: 23px;
                    margin-right: 20px;
                    margin-left: 25px;
                    padding-top: 2px;
                }
                h4 {
                    font-family: $poppins;
                    padding-top: 27px;
                    padding-left: 27%;
                    font-size: 1.1em;
                    margin-bottom: 17px;
                }
                p {
                    font-family: $poppins;
                    font-weight: normal;
                    padding-left: 27%;
                    margin-top: -10px;
                    margin-bottom: -5px;
                    width: 70%;
                    font-size: .75em;
                    color: #777777;
                }
                .etw-home-top-right-container-1,
                .etw-home-top-right-container-2 {
                    background-color: #FFFFFF;
                    height: 37%;
                    border-radius: 4px;
                    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.1);
                }
                .etw-home-top-right-container-1 {
                    margin-top: 30px;
                    .put-people-first {
                        color: $forest;
                        margin-top: 4%;
                    }
                }
                .etw-home-top-right-container-2 {
                    margin-top: -1%;
                }
            }
        }
    }
}