.etw-insights-ultimate-container {
  background: #f4f1eb;

  .etw-insights-main-container {
    display: flow-root;
    margin: 0 auto;
    width: 80%;
    padding-top: 80px;
    text-align: center;

    @media only screen and (max-width: $phone) {
      padding-top: 0;
    }

    p {
      color: #777777;
    }

    .etw-insights-text-container {
      margin-bottom: 104;

      @media only screen and (max-width: $phone) {
        margin: 19% 0 15%;

        .etw-subscribe-container {
          @include flex;

          .etw-input {
            margin-right: 0;
          }
        }

        .etw-webinar-button {
          margin: 5% auto 0;
        }
      }

      h2 {
        font-family: $lora;
        font-size: 35px;
        font-weight: bold;
        line-height: 1.1em;
        margin-bottom: 24px;
      }

      p {
        color: #777777;
        font-size: 10px;

        a {
          color: #777777;
          text-decoration: underline;
        }
      }
    }

    .etw-insights-card-container {
      .etw-insights-row {
        @include flex(row);
        justify-content: space-between;
        margin-bottom: 40px;

        @media only screen and (max-width: $phone) {
          @include flex;
          margin-bottom: 0;
        }

        .image-content-wrapper {
          @include flex;
          min-height: 440;
          width: 48%;
          justify-content: center;
          text-align: left;
          background-color: $white;
          border-radius: 4px;
          box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);

          @media only screen and (max-width: $phone) {
            width: auto;
            margin-bottom: 10%;
          }

          .insights-images {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            align-items: flex-end;
            flex: 1;
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
            font-family: $lora;
            font-size: 24px;

            &.etw-insights-image-phone {
              background-image: url('/resources/insights-cat-1.jpg');
            }

            &.insights-cat-2 {
              background-image: url('/resources/insights-cat-2.jpg');
            }

            &.insights-cat-3 {
              background-image: url('/resources/insights-cat-3.jpg');
            }

            &.insights-cat-4 {
              background-image: url('/resources/insights-cat-4.jpg');
            }
          }

          &.full-width {
            width: 100%;
          }

          h2,
          h4 {
            width: 94%;
            font-family: $lora;
            font-weight: bold;
            letter-spacing: 0.6;
            margin-left: auto;
            margin-right: auto;
          }

          h2 {
            font-size: 36px;

            @media only screen and (max-width: $phone) {
              font-size: 21px;
              margin-left: 6%;
              font-size: 1.1em;
            }
          }

          h4 {
            font-size: 21px;

            @media only screen and (max-width: $phone) {
              margin-left: 6%;
              font-size: 1.1em;
            }
          }

          a {
            display: flex;
            justify-content: flex-start;
            @media only screen and (max-width: $phone) {
              margin-left: 6%;
              display: flow-root;
            }

            img {
              width: 112px;
              margin-bottom: 20px;
              margin-left: 3%;

              @media only screen and (max-width: $phone) {
                width: 45%;
                max-width: 144px;
                min-width: 120px;
                margin-left: 0;
              }
            }
          }
        }
      }
    }

    .insights-category-container-5 {
      background-color: $white;
      width: 48%;
      border-radius: 4px;
      @include flex;
      justify-content: center;
      align-items: center;

      @media only screen and (max-width: $phone) {
        width: auto;
        padding: 10% 0;
      }

      .quote {
        height: 15%;
        width: 8%;
      }

      .etw-client-quote {
        @include p;
        width: 85%;

        @media only screen and (max-width: $phone) {
          font-size: 1.4em;
          margin: 2% auto 4%;
        }
      }

      h5 {
        @include h5;
      }

      .etw-webinar-button {
        color: #ffffff;
        margin-top: 5%;

        @media only screen and (max-width: $phone) {
          margin: 10% auto;
        }
      }

      p {
        font-family: $roboto;
        font-weight: lighter;
        line-height: 1.6em;
        font-size: 0.8em;
        color: #777777;
        letter-spacing: 0.01em;
        margin-top: 3%;
        width: 55%;
      }
    }

    .more-insights-arrow {
      color: $forest;
      margin: 20px 0 104px;
      width: 110px;

      @media only screen and (max-width: $phone) {
        height: 2%;
        width: 45%;
        margin: 15% auto 22%;
      }
    }
  }
}
