.etw-insights-ultimate-container {
  background: #f4f1eb;

  .etw-insights-main-container {
    display: flow-root;
    margin: 0 auto;
    width: 80%;
    padding-top: 80px;
    text-align: center;

    p {
      color: #777777;
    }

    .etw-insights-text-container {
      margin-bottom: 104;

      h2 {
        font-family: $lora;
        font-size: 35px;
        font-weight: bold;
        line-height: 1.1em;
        margin-bottom: 24px;
      }

      p {
        color: #777777;
        font-size: 10px;

        a {
          color: #777777;
          text-decoration: underline;
        }
      }
    }

    .etw-insights-card-container {
      .etw-insights-row {
        @include flex(row);
        justify-content: space-between;
        margin-bottom: 40px;

        .image-content-wrapper {
          @include flex;
          min-height: 440;
          width: 48%;
          justify-content: center;
          text-align: left;
          background-color: $white;
          border-radius: 4px;
          box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);

          .insights-images {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            align-items: flex-end;
            flex: 1;
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
            font-family: $lora;
            font-size: 24px;

            &.etw-insights-image-phone {
              background-image: url('/resources/insights-cat-1.jpg');
            }

            &.insights-cat-2 {
              background-image: url('/resources/insights-cat-2.jpg');
            }

            &.insights-cat-3 {
              background-image: url('/resources/insights-cat-3.jpg');
            }

            &.insights-cat-4 {
              background-image: url('/resources/insights-cat-4.jpg');
            }
          }

          &.full-width {
            width: 100%;
          }

          h2,
          h4 {
            width: 94%;
            font-family: $lora;
            font-weight: bold;
            letter-spacing: 0.6;
            margin-left: auto;
            margin-right: auto;
          }

          h2 {
            font-size: 36px;
          }

          h4 {
            font-size: 21px;
          }

          img {
            width: 112px;
            margin-bottom: 20px;
            margin-left: 3%;
          }
        }
      }
    }

    .insights-category-container-5 {
      background-color: $white;
      width: 48%;
      border-radius: 4px;
      @include flex;
      justify-content: center;
      align-items: center;

      .quote {
        height: 15%;
        width: 8%;
      }

      .etw-client-quote {
        font-family: $lora;
        font-size: 26px;
        line-height: 1.35;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
      }

      h5 {
        font-family: $poppins;
        font-weight: lighter;
        font-size: 11.4px;
        letter-spacing: 0.6;
        text-transform: uppercase;
        margin-top: 3%;
      }

      .etw-webinar-button {
        color: #ffffff;
        margin-top: 5%;
      }

      p {
        font-family: $roboto;
        font-weight: lighter;
        line-height: 1.6em;
        font-size: 0.8em;
        color: #777777;
        letter-spacing: 0.01em;
        margin-top: 3%;
        width: 55%;
      }
    }

    .more-insights-arrow {
      color: $forest;
      margin: 20px 0 104px;
      width: 110px;
    }
  }
}
