.performance-solutions-container {
  .intentional-culture-container {
    width: 80%;
    margin: 0 auto;
    padding: 0 0 92px;

    @media only screen and (max-width: $phone) {
      padding: 0 0 42px;
    }

    .link-row-container {
      @include flex(row);
      justify-content: center;

      span {
        font-size: 11px;
        font-family: Helvetica;
        text-transform: uppercase;
        color: #007278;
        letter-spacing: 0.2;
      }

      .bullet {
        color: #222;
        font-size: 13px;
        margin: -1px 4px 10px;
      }

      @media only screen and (max-width: 397px) {
        .hidden {
          display: none;
        }
      }
    }

    .intentional-culture-text-container {
      text-align: center;

      h1 {
        @media only screen and (max-width: $tablet) {
          font-size: 50px;
        }

        @media only screen and (max-width: $phone) {
          font-size: 32px;
        }
      }

      p {
        font-family: $montserrat;
        color: #777777;
        margin: 16px auto;
        width: 48%;
        line-height: 1.6;

        @media only screen and (max-width: $tablet) {
          width: 75%;
        }

        @media only screen and (max-width: $phone) {
          font-size: 14px;
          width: 90%;
        }

        @media only screen and (max-width: 377px) {
          width: 70%;
        }
      }
    }
  }
}
