.etw-main-container {
  .logos-banner-ultimate-container {
    background-color: $light-fog;
    display: flex;
    padding-bottom: 4px;

    .logos-content-wrapper {
      width: 100%;
      margin: 32px 0 44px;

      @media only screen and (max-width: $phone) {
        margin: 16px auto 22px;
      }

      .logos-text-container {
        @include flex(row);
        justify-content: center;
        flex: 1;
        margin-bottom: 8px;

        p {
          color: #222;
          font-family: $roboto;
          font-size: 13px;
          text-transform: uppercase;
          text-align: center;
          line-height: 1.6;
        }
      }

      .logos-svg-container {
        @include flex(row);

        img {
          height: 38px;
          flex: 1;
        }

        .verra-mobility-logo {
          height: 44px;

          @media only screen and (max-width: $phone) {
            display: none;
          }
        }
      }
    }
  }
}
