.etw-main-container {
  .logos-banner-container {
    background-color: #f4f1eb;
    display: flex;
    padding-bottom: 4px;

    .logos-content-wrapper {
      width: 100%;
      margin: 32px 0 44px 0;

      .logos-text-container {
        @include flex(row);
        justify-content: center;
        flex: 1;

        p {
          font-family: $roboto;
          font-size: 0.82em;
          text-transform: uppercase;
          text-align: center;
        }
      }
      .logos-svg-container {
        @include flex(row);

        img {
          height: 38px;
        }

        .verra-mobility-logo {
          height: 44px;
        }

        .trip-spark-container {
          display: flex;
          flex: 18;
          justify-content: center;

          .trip-spark-logo {
            display: flex;
          }
        }

        .univar-logo,
        .verra-mobility-logo {
          display: flex;
          flex: 6;
          justify-content: center;
        }
        .logos-empty-div {
          display: flex;
          flex: 18;
        }
      }
    }
  }
}
