@import 'colors';
@import 'fonts';

.etw-main-container {
    .logos-banner {
        background-color: 	#F4F1EC;
        height: 145px;
        width: 100%;
        margin-bottom: -20px;
        p {
            font-family: $roboto;
            font-size: .82em;
            font-weight: 500;
            margin-bottom: 5px;
            padding-top: 40px;
            text-align: center;
            text-transform: uppercase;
          }
        img {
            height: 75px;
            width: 150px;
        }
        .trip-spark-logo {
            margin-left: 10%;
        }
        .univar-logo {
            margin-left: 15%;
        }
        .verra-mobility-logo {
            margin-left: 3%;
        }
    }
}