.menu-performance-solutions-main-container,
.menu-leadership-resources-main-container,
.menu-more-main-container {
  position: absolute;
  top: 10%;
  left: 33%;
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);

  &.menu-leadership-resources-main-container {
    left: 52%;
  }

  &.menu-more-main-container {
    left: 69%;
  }

  .menu-header-container {
    @include flex(row);
    background-color: $light-fog;
    padding: 20px 20px 0;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

    img {
      flex: 1;
      height: 32px;
      margin: 0 20px 0 0;
    }

    .menu-text-wrap {
      padding: 0 0 16px;

      h5 {
        font-size: 12px;
        margin: 0;
      }

      p.menu-tagline {
        color: #777;
        font-family: $roboto-light;
        font-size: 12px;
        text-transform: none;
        margin: 0;
      }
    }
  }

  .menu-content-container {
    padding: 0 24px 24px;

    h5 {
      margin: 20px 0 10px;
    }

    a.arrow-link {
      margin: 0;

      p.call-to-action {
        font-family: $roboto-light;
        line-height: 1.8;
        text-transform: none;
        margin: 0;

        &:first-letter {
          text-transform: uppercase;
        }
      }

      img.arrow {
        display: none;
        margin: 7px 0 0 4px;
      }

      &:hover {
        p.call-to-action {
          color: $forest;
        }
        img.arrow {
          display: flex;
        }
      }
    }
  }
}
