@mixin flex($flex-direction: column) {
  display: flex;
  flex-direction: $flex-direction;
}

@mixin margin-sides($margin-sides) {
  margin-left: $margin-sides;
  margin-right: $margin-sides;
}

@mixin square($sides) {
  height: $sides;
  width: $sides;
}
