.etw-ss-ultimate-container {
  background-color: $light-bone;

  .etw-ss-main-container {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    padding: 108px 0;

    @media only screen and (max-width: $phone) {
      padding-top: 50px;
    }

    .etw-ss-text-container {
      h2 {
        font-family: $lora;
        font-size: 36px;
        font-weight: bold;
        line-height: 1.2;
        letter-spacing: 1;
        width: 75%;
        margin: 0 auto;

        @media only screen and (max-width: $tablet) {
          font-size: 34px;
        }

        @media only screen and (max-width: 550px) {
          width: 100%;
        }

        @media only screen and (max-width: $phone) {
          font-size: 32px;
        }
      }

      p {
        font-family: $montserrat;
        margin: 16px auto;
        width: 65%;
        line-height: 1.6;

        @media only screen and (max-width: $phone) {
          font-size: 14px;
          width: 89%;
        }

        @media only screen and (max-width: 597px) {
          width: 64%;
        }
      }
    }
    .etw-ss-card-container {
      @include flex(row);
      justify-content: center;
      margin: 40px auto 0;
      @media only screen and (max-width: $phone) {
        @include flex;
      }

      .services-card,
      .software-card {
        width: 35%;

        @media only screen and (max-width: $desktop) {
          width: 50%;
          margin-top: inherit;
          margin-bottom: 12px;
        }

        @media only screen and (max-width: $phone) {
          width: 100%;
          margin-bottom: 12px;
        }

        img {
          height: 54px;
          @media only screen and (max-width: $phone) {
            margin-bottom: 0;
          }
        }

        h4 {
          font-family: $poppins;
          font-weight: bolder;
          font-size: 17px;
          letter-spacing: 0.2;
          margin: 16px auto 0;

          @media only screen and (max-width: $phone) {
            margin-top: 15px;
          }
        }

        p {
          font-size: 12px;
          font-family: $montserrat;
          line-height: 1.6;
          width: 95%;
          margin: 10px 8px 0;

          span {
            color: $sea;
          }
        }
      }
    }

    .ss-testimonial-container {
      @include flex(row);
      height: fit-content;
      background: #fff;
      border-radius: 8px;
      box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
      margin: 80px auto auto;

      @media only screen and (max-width: $tablet) {
        @include flex;
        margin: 20px auto 80px;
      }

      .ss-testimonial-container-left {
        @include flex;
        flex: 11;
        justify-content: center;
        margin: 32px;
        border-right: 1px solid #d6d4d0;

        @media only screen and (max-width: $desktop) {
          margin: 32px 0;
        }

        @media only screen and (max-width: $tablet) {
          margin: 39px 39px 27px;
          padding-bottom: 30px;
          border-right: none;
          border-bottom: 1px solid #d6d4d0;
        }

        .etw-webinar-button {
          color: #ffffff;
          margin: 0 auto;

          @media only screen and (max-width: $tablet) {
            margin-bottom: 6px;
          }
        }

        p {
          font-family: $roboto;
          font-weight: lighter;
          line-height: 1.6;
          font-size: 13px;
          color: #777777;
          width: 70%;
          margin-left: auto;
          margin-right: auto;

          @media only screen and (max-width: $phone) {
            width: auto;
          }
        }
      }

      .ss-testimonial-container-right {
        @include flex;
        flex: 14;
        justify-content: center;
        margin: 36px 21.2px;

        @media only screen and (max-width: $tablet) {
          margin: 6px 39px 39px;
        }

        .quote {
          height: 28px;

          @media only screen and (max-width: $tablet) {
            margin-bottom: 11px;
            height: 26px;
          }
        }

        p {
          @include p;
          margin: 11px auto;
        }

        h5 {
          @include h5;
          margin: 12px 0 0;
        }
      }
    }
  }
}
