@import 'colors';
@import 'fonts';

.etw-solutions-ultimate-container {
    background-color: #FFFFFF;
    .etw-solutions-main-container {
        p {
            color: #777777;
        }
        .etw-solutions-text-container {
            margin-left: auto;
            margin-right: auto;
            width: 80%;
            text-align: center;
            h2 {
                font-family: $lora;
                font-size: 35px;
                font-weight: bold;
                line-height: 1.1em;
                margin-bottom: 15px;
            }
            p {
                margin-left: auto;
                margin-right: auto;
                width: 60%;
                font-family: $montserrat;
                line-height: 1.6em;
            }
        }
        .etw-solutions-card-container {
            text-align: center;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            .people-card,
            .priorities-card,
            .practices-card,
            .performance-card {
                display: inline-block;
                width: 25%;
                vertical-align: top;
                height: 47%;
                img {
                    width: 30%;
                    display: block;
                    margin-left: -2%;
                    margin-top: 6%;
                    margin-left: 10%
                }
                h4 {
                    font-family: $poppins;
                    font-size: 1.1em;
                    text-align: left;
                    margin-top: 15%;
                    margin-left: 10%;
                }
                p {
                    font-family: $roboto;
                    font-weight: lighter;
                    text-align: left;
                    line-height: 1.6em;
                    font-size: .8em;
                    color: #777777;
                    width: 76%;
                    margin-top: -5%;
                    margin-left: 10%;
                }
            }
            .priorities-card {
                background: rgba(244,241,235, .5);
                background-size: 70% 70%;
                .view-our-solution {
                    width: 53%;
                    margin-top: 12%;
                }
            }
        }
        .testimonial-container {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            padding-top: .5%;
            padding-bottom: .5%;
            border-radius: 8px;
            box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.1);
            .divider-in-testimonials {
                height: 25.5%;
                margin-bottom: -4%;
            }
            .testimonial-container-left {
                display: inline-block;
                width: 40%;
                margin-left: 3%;
                text-align: center;
                    .etw-webinar-button {
                        color: #FFFFFF;
                    }
                    p {
                    font-family: $roboto;
                    font-weight: lighter;
                    line-height: 1.6em;
                    font-size: .8em;
                    color: #777777;
                    letter-spacing: .01em;
                    width: 65%;
                    margin-left: 17%;
                    }
                }
            .testimonial-container-right {
                float: right;
                width: 56%;
                text-align: center;
                .quote {
                    width: 6.5%;
                    margin-top: 6%;
                }
                p {
                    font-family: $lora;
                    font-size: 1.6em;
                    letter-spacing: .01em;
                    width: 90%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 3%;
                    margin-bottom: 0;
                }
                h5 {
                    font-family: $poppins;
                    font-weight: lighter;
                    font-size: .73em;
                    letter-spacing: .01em;
                    text-transform: uppercase;
                    margin-top: 3%;
                }
            }
        }
    }
}