.etw-solutions-ultimate-container {
  background-color: #ffffff;

  .etw-solutions-main-container {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    padding: 80px 0 104px;

    @media only screen and (max-width: $phone) {
      padding: 50px 0 80px;
    }

    p {
      color: #777777;
    }
    .etw-solutions-text-container {
      h2 {
        font-size: 35px;
        line-height: 1.2;
        margin-bottom: 15px;

        @media only screen and (max-width: $phone) {
          font-size: 32px;
        }
      }

      p {
        font-family: $roboto-light;
        font-size: 18px;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        line-height: 1.6;

        @media only screen and (max-width: $phone) {
          font-size: 16px;
          width: 100%;
        }
      }
    }
    .etw-solutions-card-container {
      .people-card,
      .priorities-card,
      .practices-card,
      .performance-card {
        display: inline-block;
        width: 25%;
        vertical-align: top;

        @media only screen and (max-width: $desktop) {
          width: 50%;
          margin-top: inherit;
          margin-bottom: 12px;
        }

        @media only screen and (max-width: $phone) {
          width: 100%;
          margin-bottom: 12px;
        }

        img {
          width: 30%;
          display: block;
          margin: 15px auto 36px 25.5px;

          @media only screen and (max-width: $phone) {
            margin-bottom: 0;
          }
        }

        h4 {
          text-align: left;
          margin: auto auto 10.5 25.5px;

          @media only screen and (max-width: $phone) {
            margin-top: 15px;
          }
        }

        p {
          font-family: $roboto;
          font-weight: lighter;
          text-align: left;
          line-height: 1.7;
          font-size: 12.4px;
          color: #777777;
          letter-spacing: 0.18;
          width: 76%;
          margin: auto auto 29px 25.5px;
        }

        a {
          @include flex(row);
          margin: 0 0 22px 23.5px;
          display: none;

          @media only screen and (max-width: $desktop) {
            display: flex;
          }

          .call-to-action {
            font-size: 11px;
            font-family: $poppins-semiBold;
            letter-spacing: 0.5;
            color: $forest;
            font-weight: normal;
            width: auto;
            margin: 0;
          }

          .arrow-svg {
            width: auto;
            margin: 4px 0 0 6px;
          }
        }

        @media only screen and (min-width: $desktop) {
          &:hover {
            background: rgba(244, 241, 235, 0.5);

            a {
              display: flex;
            }
          }
        }
      }

      .priorities-card {
        @media only screen and (max-width: $desktop) {
          background: rgba(244, 241, 235, 0.5);
        }
      }

      .performance-card {
        @media only screen and (max-width: $phone) {
          margin-bottom: 24px;
        }
      }
    }

    .testimonial-container {
      @include flex(row);
      height: fit-content;
      margin: 104px auto 0;
      border-radius: 8px;
      box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);

      @media only screen and (max-width: $tablet) {
        @include flex;
        margin: 20px auto 0;
      }

      .testimonial-container-left {
        @include flex;
        flex: 11;
        justify-content: center;
        margin: 32px;
        border-right: 1px solid $grey;

        @media only screen and (max-width: $desktop) {
          margin: 32px 0;
        }

        @media only screen and (max-width: $tablet) {
          margin: 39px 39px 27px;
          padding-bottom: 30px;
          border-right: none;
          border-bottom: 1px solid $grey;
        }

        a {
          margin: 0 auto;

          @media only screen and (max-width: $tablet) {
            margin-bottom: 6px;
          }

          .etw-webinar-button {
            color: #ffffff;
          }
        }

        p {
          font-family: $roboto;
          font-weight: lighter;
          line-height: 1.6;
          font-size: 13px;
          color: #777777;
          width: 70%;
          margin-left: auto;
          margin-right: auto;

          @media only screen and (max-width: $phone) {
            width: auto;
          }
        }
      }

      .testimonial-container-right {
        @include flex;
        flex: 14;
        justify-content: center;
        margin: 36px 21.2px;

        @media only screen and (max-width: $tablet) {
          margin: 6px 39px 39px;
        }

        .quote {
          height: 28px;

          @media only screen and (max-width: $tablet) {
            margin-bottom: 11px;
            height: 26px;
          }
        }

        p {
          @include p($font-size: 20px);
          margin: 11px auto;
        }

        h5 {
          margin: 12px 0 0;
        }
      }
    }
  }
}
