.none-top {
    padding-top: 0;
}

.none-bottom {
    padding-bottom: 0;
}

.half-top {
    padding-top: map-get($spacers, 9);

    @include media-breakpoint-down(md) {
        padding-top: map-get($spacers, 5);
    }
}

.half-bottom {
    padding-bottom: map-get($spacers, 9);

    @include media-breakpoint-down(md) {
        padding-bottom: map-get($spacers, 5);
    }
}

.full-top {
    padding-top: map-get($spacers, 11);

    @include media-breakpoint-down(md) {
        padding-top: map-get($spacers, 8);
    }
}

.full-bottom {
    padding-bottom: map-get($spacers, 11);

    @include media-breakpoint-down(md) {
        padding-bottom: map-get($spacers, 8);
    }
}
