.subscribe-container {
    .subscribe-input {
        width    : 26rem;
        max-width: 100%;

        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }

    .btn {
        @include media-breakpoint-down(md) {
            width     : 100%;
            margin-top: 1.25rem;
        }
    }

    p.small {
        flex       : 0 0 100%;
        padding-top: 0.625rem;

        a {
            text-decoration: underline;
        }
    }
}
