@import 'colors';
@import 'combatDisengagement';
@import 'coreValues';
@import 'footer';
@import 'header';
@import 'insights';
@import 'intentionalCulture';
@import 'logosBanner';
@import 'readyWin';
@import 'servicesSoftware';
@import 'solutions';
@import 'subscribe';
@import 'categoryPill';

body {
  margin: 0;
  background-color: $light-bone;
}

h1,
h2,
h3,
h4,
h5 {
  color: #222;
}

p {
  color: #777;
}

a {
  text-decoration: none;
  color: inherit;
}

.etw-webinar-button {
  font-family: $roboto;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.5;
  padding: 11px 17px 13px 17px;
  background-color: $forest;
  border-radius: 2px;
  color: $light-bone;
  outline: 0;
  text-transform: uppercase;
}

.call-to-action {
  @include call-to-action;
}

.arrow-svg {
  @include arrow;
}
