// style.scss

@import 'colors';
@import 'coreValues';
@import 'footer';
@import 'header';
@import 'insights';
@import 'logosBanner';
@import 'solutions';
@import 'subscribe';

body {
  margin: 0;
  background-color: $light-bone;
}

a {
  text-decoration: none;
  color: inherit;
}

.etw-webinar-button {
  font-family: $roboto;
  font-size: 0.82em;
  font-weight: 600;
  letter-spacing: 0.03em;
  padding: 11px 17px 13px 17px;
  background-color: $forest;
  border-radius: 2px;
  color: $light-bone;
  outline: 0;
  text-transform: uppercase;

  @media only screen and (max-width: $phone) {
    width: 100%;
    margin: 10% 0 20%;
  }
}
