<div>

  <div class="hero is-light">
    <div class="hero-body p-x-4" id="contactHSForm">
      <!--[if lte IE 8]>
      <script2 charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script2>
      <![endif]-->
      <script2 charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script2>
      <script2>
        hbspt.forms.create({
          css: '',
          portalId: '3379879',
          formId: 'd6a266a7-9192-4b1b-b9dd-8aadd78dff3f',
          target: '#contactHSForm',
          errorMessageClass: 'error-message',
          submitButtonClass: 'button is-medium is-rounded is-primary',
          onFormReady($form) {
            // remove all .input classes
            let inputs = $form.find('.input')
            inputs.removeClass('input')

            // select inputs
            $('select').parent('div').addClass('select is-fullwidth')

            // textareas
            $('textarea').addClass('textarea')
          }
        });
      </script2>
    </div>
  </div>


</div>
