<section class="hero is-medium section-software-plans">
  <div class="hero-body">
    <div class="columns">
      <div class="column is-5 is-offset-6">
        <figure class="image is-96x96">
          <img src="../../../../static/zero-state/plans.png" alt="Plans">
        </figure>
        <h1 class="title">Execute Your Strategy with Plans</h1>
        <p>The plan feature in ETW allows you to create and cascade top-level plans and supporting plans throughout your organization. Users have the ability to create an unlimited number of plans, and related supporting plans to properly cascade their objectives.</p>
      </div>
    </div>
  </div>
</section>
