<section class="hero is-medium hero-software-intro p-t-5">
  <div class="hero-head p-y-1">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <h1 class="title is-1 sr-software-intro-title has-text-centered has-text-white">Software to Align Your Employees with Your Strategy and Intentional Culture</h1>
          <div class="has-text-centered m-t-2">
            <a href="https://itunes.apple.com/us/app/etw-mobile/id1252717437?mt=8" target="_blank"><img src="../../../../static/app-store.svg" alt="App Store" class="store-button"></a>
            <a href="https://play.google.com/store/apps/details?id=com.etw.android&hl=en" target="_blank"><img src="../../../../static/google-play.svg" alt="Google Play" class="store-button"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-body"><!-- placeholder --></div>
</section>
