.footer-main-container {
    padding-top   : 7.5rem;
    padding-bottom: 1.875rem;

    @include media-breakpoint-down(md) {
        padding-top: 1.875rem;
    }

    .footer-top-container {
        padding-bottom: 3.75rem;
        margin-bottom : 3.75rem;
        border-bottom : 0.125rem solid $fog;

        .company-description-container {
            img {
                margin-bottom: 0.625rem;
                height       : 1.875rem;
                width        : auto;
            }

            p {
                font-size    : 0.8125rem;
                padding-right: 5rem;
                margin-bottom: 0;

                @include media-breakpoint-down(md) {
                    padding-right: 0;
                    margin-bottom: 1.875rem;
                }
            }
        }

        .footer-input-container {
            p.small {
                margin-bottom: 0;
            }

            .subscribe-container {
                .subscribe-input {
                    flex: 1;
                }
            }
        }
    }

    .footer-links-container {
        padding-bottom: 3.75rem;
        margin-bottom : 3.75rem;
        border-bottom : 0.125rem solid $fog;

        h5 {
            margin-top: 2.5rem;
        }

        ul {
            margin     : 0;
            font-size  : 0.9375rem;
            line-height: 1.7;
        }
    }

    .footer-baseline-container {
        font-size: 0.9375rem;

        .col-xl-8 {
            padding-right: 0;

            @include media-breakpoint-down(lg) {
                padding-right: 15px;
            }
        }

        @include media-breakpoint-down(lg) {
            text-align: center;
        }

        ul {
            li {
                &:not(:last-child) {
                    margin-right: 1.25rem;
                }

                @include media-breakpoint-down(xs) {
                    span {
                        display: none;
                    }

                    &.global {
                        display: none;
                    }
                }
            }

            &:not(.footer-baseline-social) {
                li {
                    @include media-breakpoint-down(lg) {
                        margin-right: 0.625rem;
                        margin-left : 0.625rem;

                        &:not(:last-child) {
                            margin-right: 0.625rem;
                            margin-left : 0.625rem;
                        }

                        &:first-child {
                            width        : 100%;
                            margin: 0 auto .25rem;
                        }
                    }
                }
            }
        }

        .footer-baseline-social {
            text-align: right;

            @include media-breakpoint-down(lg) {
                text-align: center;
            }

            a {
                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }
}
