<section class="hero is-medium section-software-evaluations m-y-2">
  <div class="hero-body">
    <div class="columns">
      <div class="column is-4 is-offset-1">
        <figure class="image is-96x96">
          <img src="../../../../static/thumb-performance-score.png" alt="Performance">
        </figure>
        <h1 class="title">Ongoing Performance Development through Evaluations</h1>
        <p class="is-size-5">Create development plans aligned with an employee's goals. Emphasize career development and progression to create a culture of high performers throughout your entire organization.</p>
      </div>
    </div>
  </div>
</section>
