<div>

  <section class="hero is-dark is-bold hero-about">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-4 is-offset-1">
            <figure class="image sr-history-image">
              <img src="../../../../static/NewMobileSS.png" alt="About ETW">
            </figure>
          </div>
          <div class="column is-5 is-offset-1">
            <h1 class="title">About Execute to Win (ETW)</h1>
            <p class="is-size-5">Our process aligns every employee within an organization to the overall strategic goals and direction of the company. Through this alignment, everyone can make a clear connection between their daily work and how it contributes to the organization's
              key initiatives. Our cloud-based application sustains this process by providing clear visibility into all levels of the organization through various dashboards and serves as the platform for collaboration and coaching that drives better
              results.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="b-y p-a-4">
      <h1 class="title m-b-3">Our History</h1>
      <div class="columns is-variable is-6">
        <div class="column">
          <p>ETW was founded by Lee Benson, a visionary leader who started his journey into driving operational excellence in 1993. Lee grew a 3 employee company into a world class 500+ employee aerospace company called Able Engineering & Component Services
            Inc. (Able), which had an unprecedented annual growth rate for the last 14 years of 20%+ CAGR on average before the company was sold to Textron Inc. in 2016. As his organization grew he searched the market for existing technology that would
            help him effectively communicate and connect every employee to his organization’s strategy and drive an intentional performance-based culture. Much to his disappointment no such system existed. Realizing that a sustainable and scalable way
            to drive culture and performance was the key to his organization’s success, he had his team of software engineers create the prototype for what is now known as Execute to Win (ETW).</p>
          <p><strong>This software in conjunction with proven management practices which employees and managers participated in, made his company grow profitably when the entire Aerospace Industry was in a recession.</strong></p>
        </div>
        <div class="column">
          <p>Customers and visitors who toured Able’s manufacturing, repair and overhaul plant could not believe the level of employee engagement, continual improvements and results that were being accomplished by a wide spectrum of employees ranging from
            mechanics and machinists to engineers and salespeople. Everyone was asking Lee for his “Secret Sauce” to understand how he was able to accomplish such great results. In 2012 he finally decided to commercialize ETW so that other leaders who
            want extraordinary results could access the ETW technology and proven management practices. He partnered with Jack Welch to continually iterate on improving the software and methodologies to drive extraordinary results for different kinds
            of organizations. Today ETW works with senior leaders of small to enterprise sized organizations of private, public and government entities that are focused on and achieving sustainable and scalable winning results.</p>
        </div>
      </div>
    </div>
  </div>


</div>
