<section class="hero is-medium hero-history-intro">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-6 has-text-centered">
          <h1 class="title is-1 has-text-white">We help organizations improve alignment to get better results</h1>
          <h3 class="subtitle has-text-white m-t-2">Connect with us on</h3>
          <div class="columns is-centered">
            <div class="column is-narrow has-text-white">
              <a href="https://www.linkedin.com/company/2552712/" class="image is-48x48" target="_blank">
                <img src="../../../../static/icon-linkedin.svg" alt="LinkedIn">
              </a>
            </div>
            <div class="column is-narrow has-text-white">
              <a href="https://www.facebook.com/ETW.executetowin/" class="image is-48x48" target="_blank">
                <img src="../../../../static/icon-facebook.svg" alt="Facebook">
              </a>
            </div>
            <div class="column is-narrow has-text-white">
              <a href="https://twitter.com/executetowin" class="image is-48x48" target="_blank">
                <img src="../../../../static/icon-twitter.svg" alt="Twiiter">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
