<section class="hero is-medium hero-history-intro">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-4 is-offset-1">
          <figure class="image sr-history-image">
            <img src="../../../../static/NewMobileSS.png" alt="About ETW">
          </figure>
        </div>
        <div class="column is-5 is-offset-1">
          <h1 class="title has-text-white">About Execute to Win (ETW)</h1>
          <p class="is-size-5 has-text-white">Our process aligns every employee within an organization to the overall strategic goals and direction of the company. Through this alignment, everyone can make a clear connection between their daily work and how it contributes to the organization's
            key initiatives. Our cloud-based application sustains this process by providing clear visibility into all levels of the organization through various dashboards and serves as the platform for collaboration and coaching that drives better
            results.</p>
        </div>
      </div>
    </div>
  </div>
</section>
