<section class="hero slide-testimonials">
  <div class="hero-body">
    <div class="container">
      <div class="content">
        <h3 class="title is-5">Testimonials</h3></div>
      <div class="container">
        <div class="columns">

          <div class="column is-two-thirds">
            <div class="media sr-about-media-engagement">
              <div class="media-left">
                <figure class="image is-96x96">
                  <img src="../../../../static/thumb_engagement.jpg" alt="Increased Employee Engagement">
                </figure>
              </div>
              <div class="media-content m-l-1">
                <div class="content">
                  <h3 class="title is-4">Increased Employee Engagement</h3>
                  <p>Transparency increases accountability and promotes a complete understanding of how each and every employee's role a ects the success of the company. Give employees transparency into top company goals for a highly engaged workforce.</p>
                </div>
              </div>
            </div>
          </div>
      <button class="button is-large is-primary is-rounded">
            Show more
        </button>

        </div>
      </div>

    </div>
  </div>
</section>
