<section class="hero section-testimonials">
  <div class="hero-body">
    <div class="columns">
      <div class="column is-two-thirds">
        <div class="media sr-about-media-engagement">
          <div class="media-left">
            <figure class="image is-96x96">
              <img src="../../../../static/Quotes.png" alt="Increased Employee Engagement">
            </figure>
          </div>
          <div class="media-content m-l-1">
            <div class="content">
              <h3 class="title is-4">ETW has paid for itself many times over.</h3>
              <p>If growth is the enemy of culture, ETW has allowed us to create a like culture in each of the oces we’ve opened. I can walk into our farthest oce and know what to expect culture-wise”</p>
              <p>–David Bosley Executive Vice President, OpenWorks</p>
            </div>
          </div>
        </div>
      </div>
      <div class="column has-text-centered">
        <router-link :to="{ name: 'testimonials' }" tag="button" class="button is-medium is-primary is-rounded">
          Read more Testimonials
        </router-link>
      </div>
    </div>
  </div>
  </div>
</section>
