<div>

  <!-- HERO SECTION -->
  <section class="hero is-large section-intro">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-5 is-offset-1">
            <h1 class="title is-1 sr-intro-title has-text-white">
              What if your employees were 100% aligned to your strategy and intentional culture?
            </h1>
          </div>
          <div class="column is-6">


            <div class="columns is-centered">
              <div class="column is-narrow">
              <h2 class="subtitle is-3 has-text-right has-text-white">
                <span class="bullets">Consistent <strong class="has-text-light">Alignment</strong></span><br>
                <span class="bullets">Drives effective <strong class="has-text-light">Conversations</strong></span><br>
                <span class="bullets">Leading to precise <strong class="has-text-light">Actions</strong></span><br>
                <span class="bullets">Producing extraordinary <strong class="has-text-light">Results</strong></span>
              </h2>
            </div>
          </div>

            <div class="has-text-centered m-t-1">

              <!-- VIDEO MODAL -->
              <button class="button is-large is-success is-rounded m-r-1 m-b-1" v-on:click="toggleModal()">
                Watch Video
              </button>

              <!-- TYPEFORM MODAL -->
              <a class="typeform-share button is-large is-rounded is-primary" href="https://etwadmin.typeform.com/to/pazal8" data-mode="popup" target="_blank">
                How aligned are you?
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- INTRO VIDEO MODAL -->
  <div class="modal modal-video animated fadeIn" v-bind:class="{ 'is-active': isShowModal }">
    <div class="modal-background" v-on:click="toggleModal()"></div>
    <div class="modal-content">
      <div class="content">
        <video-player class="vjs-custom-skin" ref="videoPlayer" :options="videoPlayerOptions">
        </video-player>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close" v-on:click="toggleModal()"></button>
  </div>


</div>
