<section class="hero is-light is-bold is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <h1 class="title is-1 m-b-5">
            Turn conversations into actions with ETW’s Alignment Platform.
              </h1>
          <h2 class="subtitle is-3 m-b-2">
                See how this organization turned <strong>alignment</strong> into <strong>actions</strong> with the ETW web and mobile applications…
              </h2>
          <button class="button is-large is-outlined is-success is-rounded">
                Watch Video
              </button>
          <button class="button is-large is-outlined is-primary is-rounded">
                How aligned are you?
              </button>
        </div>
      </div>
    </div>
  </div>
</section>
