<nav class="navbar is-dark is-transparent masthead animated" v-bind:class="{ 'is-scroll': isScroll, 'fadeInDown': isScrollUp, 'fadeOutUp': isScrollDown }">

  <div class="container">

    <!-- WHITEOUT THE PAGE ON SIDE MENU OPEN -->
    <div class="menu-overlay" v-bind:class="{ 'is-active': isActiveMenu }" @click="toggleMenu()"></div>

    <!-- SLIDE-OUT MENU -->
    <side-menu v-bind:is-active-menu="isActiveMenu"></side-menu>

    <!-- BRANDING AND MOBILE MENU -->
    <div class="navbar-brand">

      <!-- logo -->
      <router-link :to="{ name: 'home' }" class="navbar-item m-r-2">
        <img src="../../../static/brand/brand-horizontal-light.svg" alt="ETW : Execute To Win">
      </router-link>

      <!-- hamburger menu -->
      <div class="navbar-item m-l-a is-hidden-desktop">
        <div class="menu-icon" v-bind:class="{ 'is-active': isActiveMenu }" @click="toggleMenu()">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

    </div>

    <!-- RESPONSIVE MENU -->
    <div class="navbar-menu">
      <div class="navbar-start">
        <!-- placeholder -->
      </div>
      <div class="navbar-end">

        <router-link :to="{ name: 'home' }" class="navbar-item">
          <strong>Home</strong>
        </router-link>

        <router-link :to="{ name: 'services' }" class="navbar-item">
          <strong>Professional Services</strong>
        </router-link>

        <router-link :to="{ name: 'software' }" class="navbar-item">
          <strong>Software</strong>
        </router-link>

        <router-link :to="{ name: 'resources' }" class="navbar-item">
          <strong>Resources</strong>
        </router-link>

        <a href="https://app.prod.etw.com" class="navbar-item m-l-3">
          <strong>Login</strong>
        </a>
      </div>
    </div>

  </div>

</nav>
