<div>

  <!--

  HUBSPOT MODAL

  -->
  <modal-hubspot
      v-bind:is-active="isModalActive"
      modal-title="Contact ETW Sales"
      @toggleModal="toggleModal()">
  </modal-hubspot>


  <section class="hero is-medium contact-intro">
    <div class="hero-body">
      <div class="container">


        <!--

        CONTACT TITLE AND ADDRESS

        -->
        <div class="columns m-b-3">
          <div class="column is-8 is-offset-2 has-text-centered">
            <h1 class="title is-1 has-text-white sr-up">Contact Us</h1>
            <h2 class="subtitle is-4 has-text-white sr-up">Get in touch and let us know how we can help.</h2>
            <p class="is-5 has-text-white sr-up">
              25 S. Arizona Place, Ste. 510, Chandler, AZ 85225
              <span class="has-text-grey-light m-x-1">|</span>
              Phone: 480.638.9300
              <span class="has-text-grey-light m-x-1">|</span>
              Email: info@etw.com
            </p>
          </div>
        </div>


        <!-- CARDS -->
        <div class="columns is-centered">

          <!--

          SALES CARD

          -->
          <div class="column is-4">
            <div class="card sr-left">
              <div class="card-content p-a-5">
                <p class="title is-3 has-text-centered m-b-3">
                  Sales
                </p>
                <p class="subtitle has-text-centered">
                  We'd love to talk about how we can work together.
                </p>
              </div>
              <footer class="card-footer bg-white-ter">
                <a class="card-footer-item" v-on:click="toggleModal()">Contact Sales</a>
              </footer>
            </div>
          </div>

          <!--

          SUPPORT CARD

          -->
          <div class="column is-4">
            <div class="card sr-right">
              <div class="card-content p-a-5">
                <p class="title is-3 has-text-centered m-b-3">
                  Help &amp; Support
                </p>
                <p class="subtitle has-text-centered">
                  We're here to help you with any questions or issues.
                </p>
              </div>
              <footer class="card-footer bg-white-ter">
                <a href="https://help.etw.com/hc/en-us" class="card-footer-item" target="_blank">Contact Support</a>
              </footer>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section>


</div>
