<div>


  <!--

  INTRO

  -->
  <section class="hero is-medium is-dark about-intro">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-6 has-text-centered">
            <h1 class="title is-1 has-text-white sr-up">We help organizations improve alignment to get better results</h1>
            <h3 class="subtitle has-text-white m-t-2 sr-up-delay">Connect with us on</h3>
            <div class="columns is-mobile is-centered sr-up-delay">
              <div class="column is-narrow has-text-white">
                <a href="https://www.linkedin.com/company/2552712/" class="image is-48x48" target="_blank">
                  <img src="../../../static/icon-linkedin.svg" alt="LinkedIn">
                </a>
              </div>
              <div class="column is-narrow has-text-white">
                <a href="https://www.facebook.com/ETW.executetowin/" class="image is-48x48" target="_blank">
                  <img src="../../../static/icon-facebook.svg" alt="Facebook">
                </a>
              </div>
              <div class="column is-narrow has-text-white">
                <a href="https://twitter.com/executetowin" class="image is-48x48" target="_blank">
                  <img src="../../../static/icon-twitter.svg" alt="Twiiter">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- MAIN PAGE CONTENT -->
  <div class="container">


    <!--

    IMPROVE ALIGNMENT

    -->
    <section class="hero is-light is-medium about-improve-alignment m-y-2">
      <div class="hero-body">
        <div class="columns">
          <div class="column is-6 p-l-3">
            <div class="m-b-2 m-t-3 sr-up">
              <h5 class="has-text-grey">EXECUTE TO WIN</h5>
              <h1 class="title is-1">Improving Alignment to get Better Results</h1>
            </div>
            <p class="m-b-2 is-size-5 sr-up-delay">Execute to Win (ETW) is a consulting company that helps organizations improve alignment to get better results; alignment to intentional leadership, strategy, execution and culture. Only when organizations are aligned can they have the better conversations
              leading to better actions to yield better results. Most organizations find alignment to be both their biggest challenge and opportunity. What would be different if your organization was 20, 30, 40, 50% more aligned? Our customers find that small
              improvements in alignment yield large improvements in employee morale, engagement and bottom-line results.</p>
          </div>
        </div>
      </div>
    </section>


    <!--

    OUR APPROACH

    -->
    <section class="hero is-light about-our-approach m-y-2">
      <div class="hero-body">
        <div class="columns">
          <div class="column is-6 is-offset-5">
            <div class="m-b-2 m-t-3 sr-up">
              <h5 class="has-text-grey">OUR APPROACH</h5>
              <h1 class="title is-1">How do we do this?</h1>
            </div>
            <p class="m-b-2 is-size-5 sr-up-delay">Most senior leadership teams within organizations spend a disproportionate amount of time on strategy than they do on how they will execute and the environment required to sustain an energized team. ETW helps organizations iterate faster and
              smarter than their competitors and keeps all employees on the leading edge of where they need to create more value next in order to successfully grow. The key is ETW’s approach to a Management Operating System. We get the senior leadership
              team fully aligned around their strategy then connect all employees through a living, breathing execution plan.</p>
            <p class="m-b-2 is-size-5 sr-up-delay">With a very intentional and practical approach to leadership, strategy, execution and culture combined with the technology required to easily sustain and scale, our customers typically see significantly improved results in under 12 months. Our
              team makes it easy on you by doing all the work required to build out your Management Operating System and integrating its use into your organization. From the first second of our engagement you spend all of your time on a productive alignment
              conversation.</p>
          </div>
        </div>
      </div>
    </section>


    <!--

    PRACTICAL APPLICATION

    -->
    <section class="hero is-light about-application m-y-2">
      <div class="hero-body">
        <div class="columns">
          <div class="column is-6 p-l-3">
            <div class="m-b-2 m-t-3 sr-up">
              <h5 class="has-text-grey">PRACTICAL APPLICATION</h5>
              <h1 class="title is-1">What makes ETW different?</h1>
            </div>
            <p class="m-b-2 is-size-5 sr-up-delay">The reason ETW is different than the rest of the world is in its holistic approach. We combine a practical application approach to leadership, strategy, execution, culture and technology with a Management Operating System process that sustains
              improvements over the long run.</p>
            <p class="m-b-2 is-size-5 sr-up-delay">Other products and systems approach this challenge one-dimensionally. They also believe that if you implement their one-dimensional solution all things will improve and those improvements will sustain themselves over the long run. It’s not uncommon
              to see some improvement with this approach for a short time. But because the solution wasn’t complete, over 90% of the time the improvements plateau or even reverse. ETW is the only sustainable long-term solution.</p>
          </div>
        </div>
      </div>
    </section>


    <!--

    MOS

    -->
    <section class="hero is-light about-mos m-y-2">
      <div class="hero-body">
        <div class="columns">
          <div class="column is-6 is-offset-5">
            <div class="m-b-2 m-t-3 sr-up">
              <h5 class="has-text-grey">MANAGEMENT OPERATING SYSTEM</h5>
              <h1 class="title is-1">When is the best time to implement ETW?</h1>
            </div>
            <p class="m-b-2 is-size-5 sr-up-delay">Any time is the right time to get your organization more aligned. That said, the more chaotic and busy with new projects you are, the better the timing. Staying on top of all the complexities of making an organization successful without a centralized
              Management Operating System takes extreme effort. ETW gets you aligned fast and with less than half the effort required going forward to keep it that way. This allows you to be much more proactive and less reactive in growing your organization.
              And because the ETW team does all the work for you (no learning how to set up a new system) until the system is fully built out, you spend all of your time proactively improving your organization’s alignment and results. ETW is cloud-based,
              can be deployed in less than 24 hours and requires zero IT support on your end. ETW is very secure and all you need is a modern browser.</p>
          </div>
        </div>
      </div>
    </section>


    <!--

    LEADERSHIP CARDS SECTION TITLE

    -->
    <section class="hero hero-senior-leadership">
      <div class="hero-body">
        <div class="columns is-centered">
          <div class="column is-8">
            <div class="has-text-centered">
              <h1 class="title sr-up">
                Senior Leadership
              </h1>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!--

    SENIOR LEADERSHIP CARDS

    -->
    <section class="section">
      <div class="columns is-multiline is-variable is-8">
        <div class="column is-one-third m-b-3 sr-up" v-for="leader in seniorLeadership">
          <figure class="image m-b-2">
            <img v-bind:src="leader.image" v-bind:alt="leader.name">
          </figure>
          <div class="columns is-mobile is-gapless">
            <div class="column">
              <h1 class="title is-4">{{ leader.name }}</h1>
              <h2 class="subtitle is-6">{{ leader.title }}</h2>
            </div>
            <div class="column is-narrow">
              <a v-bind:href="leader.linkedin" class="image is-32x32" target="_blank">
                <img src="../../../static/linkedin_icon.svg" alt="View LinkedIn Profile">
              </a>
            </div>
          </div>
          <p>{{ leader.info }}</p>
        </div>
      </div>
    </section>


  </div>
  <!-- end of container -->

</div>
