<section class="hero is-medium section-software-kpi">
  <div class="hero-body">
    <div class="columns">
      <div class="column is-5 is-offset-6">
        <figure class="image is-96x96">
          <img src="../../../../static/thumb-kpi.png" alt="Performance">
        </figure>
        <h1 class="title">Metrics and Key Performance Indicators</h1>
        <p class="is-size-5">Use real-time progress updates to drive high performance with 11 different KPI report and presentation types. Our highly customizable dashboard allows you to see the information in whichever display makes the most sense for you.</p>
      </div>
    </div>
  </div>
</section>
