<footer class="columns bg-white-ter p-y-1 m-t-5 site-footer">
  <div class="column has-text-centered has-text-grey">
    <small>
      <img src="../../../static/brand/brand.svg" class="image is-24x24 brand-image m-r-_5"  alt="ETW : Execute To Win">
      Improving the way the world does business.
      <span class="has-text-grey-light m-x-1">|</span>
      <a href="http://blog.etw.com" class="has-text-grey">Blog</a>
      <span class="has-text-grey-light m-x-1">|</span>
      <router-link :to="{ name: 'privacy' }">
        <a class="has-text-grey">Privacy Policy</a>
      </router-link>
      <span class="has-text-grey-light m-x-1">|</span>
      2017 ETW®
    </small>
  </div>
</footer>
