<section class="hero is-medium section-history">
  <div class="hero-body">
    <div class="columns">
      <div class="column is-5 is-offset-1">
        <div class="m-b-2 sr-section-bms-title">
          <p><small class="has-text-grey">ABOUT ETW</small></p>
          <h1 class="title is-1">How we came to be ETW</h1>
        </div>

        <router-link :to="{ name: 'about' }" tag="button" class="button is-medium is-outlined is-rounded is-primary sr-section-bms-button">
          More about our history
        </router-link>
      </div>
    </div>
  </div>
</section>
