<section class="hero is-medium section-software">
  <div class="hero-body">
    <div class="columns">
      <div class="column is-6 is-offset-3 has-text-centered">
        <h1 class="title is-1 m-b-3 sr-section-software-title">
          Turn conversations into actions with ETW’s Alignment Platform.
        </h1>
        <h2 class="subtitle is-3 m-b-2 sr-section-software-subtitle">
          Our web based application together with iOS and Android mobile solutions
        </h2>
        <div>
          <router-link :to="{ name: 'software' }" tag="button" class="button is-medium is-rounded is-outlined is-primary">Learn More</router-link>
        </div>
      </div>
    </div>
  </div>
</section>
