<section class="hero is-medium section-software">
  <div class="hero-body">
    <div class="columns">
      <div class="column is-6 is-offset-3 has-text-centered">
        <h1 class="title is-1 m-b-3 sr-section-software-title">
          Turn conversations into actions with ETW’s Software.
        </h1>
        <p class="is-size-5 m-b-2 sr-section-software-subtitle">
          Web based application together with <br>
          iOS and Android mobile solutions
        </p>
        <div>
          <router-link :to="{ name: 'software' }" tag="button" class="button is-medium is-rounded is-outlined is-primary">Learn more about our software</router-link>
        </div>
      </div>
    </div>
  </div>
</section>
