<div>


  <!--

  INTRO

  -->
  <section class="hero is-large is-dark resources-intro">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h1 class="title is-1 sr-up">Resources</h1>
            <h2 class="subtitle sr-up">Insights, Workshops & Implementation</h2>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- MAIN PAGE CONTENT -->
  <div class="container">


    <!--

    TAG MENU

    -->
    <section class="section section-small has-text-right">
      <button class="button is-light is-small m-l-_5 m-b-_5" v-bind:class="{'is-primary': searchTag === ''}" @click="toggleSearchTag('')">All</button>
      <button class="button is-light is-small m-l-_5 m-b-_5" v-for="tag in tags" @click="toggleSearchTag(tag)" v-bind:class="{'is-primary': tag === searchTag}">
        {{ tag }}
        <span class="delete is-small m-l-_5" v-if="tag === searchTag"></span>
      </button>
    </section>



    <!--

    RESOURCE CARDS

    -->
    <div class="section">
      <div class="columns is-multiline">
        <div class="column is-one-quarter-desktop is-6-tablet" v-for="resource in filteredResources">
          <a v-bind:href="resource.file" target="_blank" v-bind:alt="resource.title">
            <div class="card is-fullheight sr-up">
              <div class="card-image">
                <figure class="image is-16by9">
                  <img v-bind:src="resource.image" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  <p class="title is-5 m-b-1">{{ resource.title }}</p>
                  <p>{{ resource.description }}</p>
                  <div class="tags">
                    <span class="tag" v-for="tag in resource.tags">{{ tag }}</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>


  </div>
  <!-- end of container -->

</div>
