<div>

  <intro></intro>

  <div class="container">

    <section class="section">
      <h1 class="title">Resources</h1>
      <h2 class="subtitle has-text-grey">ROI of an Intentional Culture</h2>
      <div class="columns">
        <div class="column is-6">
          <p>An intentional culture is a culture that is defined, communicated and integrated into the business management process to drive better results for the organization. Learn about the positive effects building an intentional culture has on your
            ROI.</p>
        </div>
        <div class="column"></div>
        <div class="column is-narrow">
          <button
              class="button is-light is-small m-l-_5 m-b-_5"
              v-for="tag in tags"
              @click="toggleSearchTag(tag)"
              v-bind:class="{'is-primary': tag === searchTag}">
            {{ tag }}
            <span class="delete is-small m-l-_5" v-if="tag === searchTag"></span>
        </button>
        </div>
      </div>
    </section>

    <!-- RESOURCES -->
    <div class="section">
      <div class="columns is-multiline">
        <div class="column is-one-quarter" v-for="resource in filteredResources">
          <a v-bind:href="resource.file" target="_blank" v-bind:alt="resource.title">
            <div class="card is-fullheight">
              <div class="card-image">
                <figure class="image is-16by9">
                  <img v-bind:src="resource.image" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  <p class="title is-5 m-b-1">{{ resource.title }}</p>
                  <p>{{ resource.description }}</p>
                  <div class="tags">
                    <span class="tag" v-for="tag in resource.tags">{{ tag }}</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>

</div>
