<div>

  <!--

  INTRO

  -->
  <intro></intro>


  <!-- MAIN PAGE CONTENT -->
  <div class="container">


    <!--

    IMPROVING ALIGNMENT

    -->
    <section class="hero is-medium is-light home-improving-alignment m-y-2">
      <div class="hero-body">
        <div class="columns">
          <div class="column is-6 p-l-3">
            <div class="m-b-2 m-t-3 sr-up">
              <h5 class="has-text-grey">EXECUTE TO WIN</h5>
              <h1 class="title is-1">Improving Alignment to Get Better Results</h1>
            </div>
            <p class="m-b-2 is-size-5 sr-up-delay">Execute to Win (ETW) is a consulting company that helps organizations improve alignment to get better results; alignment to intentional leadership, strategy, execution and culture. Only when organizations are aligned can they have the better conversations
              leading to better actions to yield better results. Most organizations find alignment to be both their biggest challenge and opportunity. What would be different if your organization was 20, 30, 40, 50% more aligned? Our customers find that small
              improvements in alignment yield large improvements in employee morale, engagement and bottom-line results.</p>
            <router-link :to="{ name: 'about' }" tag="button" class="button is-medium is-rounded is-outlined is-primary">Learn more about ETW</router-link>
          </div>
          <div class="column is-background">
            <!-- placeholder -->
          </div>
        </div>
      </div>
    </section>


    <!--

    PROFESSIONAL SERVICES

    -->
    <section class="hero is-medium home-professional-services m-y-2">
      <div class="hero-body">
        <div class="columns">
          <div class="column is-5 is-offset-6">
            <div class="m-b-2 m-t-3 sr-up">
              <h5>PROFESSIONAL SERVICES</h5>
              <h1 class="title is-1">Align your organization for better results</h1>
            </div>
            <p class="m-b-2 is-size-5 sr-up-delay">Delivering workshops and facilitations to align leadership, strategy, execution and culture.</p>
            <router-link :to="{ name: 'services' }" tag="button" class="button is-medium is-primary is-outlined is-rounded sr-up-delay">
              Learn more about our services
            </router-link>
          </div>
        </div>
      </div>
    </section>


    <!--

    SOFTWARE

    -->
    <section class="hero is-medium home-software">
      <div class="hero-body">
        <div class="columns is-centered">
          <div class="column is-6-desktop is-10-tablet has-text-centered">
            <h1 class="title is-1 m-b-3 sr-up">
              Turn conversations into actions with ETW’s Software.
            </h1>
            <p class="is-size-5 m-b-2 sr-up-delay">
              Web based application together with <br>
              iOS and Android mobile solutions
            </p>
            <div>
              <router-link :to="{ name: 'software' }" tag="button" class="button is-medium is-rounded is-outlined is-primary">Learn more about our software</router-link>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!--

    TESTIMONIALS

    -->
    <testimonials></testimonials>


  </div>
  <!-- end of container -->

</div>
