// To clear the fixed header
@mixin header-spacing {
  padding-top: 2rem;
}

// For the rounded swoosh under hero shots
@mixin swoosh {
  content: "";
  display: block;
  padding-bottom: 3%;
  background-image: url("../images/backgrounds/round-edge.svg");
  width: 110%;
  margin-left: -5%;
  margin-bottom: -.625rem !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

// for the resource cards
.card {
  &.is-fullheight {
    height: 100%;
    display: flex;
    flex-direction: column;

    .card-content {
      flex-grow: 1;
    }
  }
}

// for lighter backgrounds on hero is-light
.hero {
  &.is-light {
    background-color: $white-bis;
  }
}

// for items that need the shadow
.has-shadow {
  box-shadow: $box-shadow;
}

// for interactive items
.is-clickable {
  cursor: pointer;
  pointer-events: auto !important;
}

#app {
  position: relative;
  min-height: 100vh;
  padding-bottom: 328px;
  margin-top: 100px;
}

@include mobile {

  #app {
    padding-bottom: 872px;
  }
}