.section-alignment {
  background: url('../../../static/backgrounds/alignment.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
}

.hero-software-intro {
  background-image: url('../../assets/images/bg_desktops.jpg');
  background-position: center top;
  background-repeat: no-repeat;

  h1 {
    font-size: 3rem;
  }
}

.hero-testimonials {
  background-image: url('../../assets/images/bg-testimonials-banner-homeroom.jpg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-bms {
  background: url('../../../static/backgrounds/bms.jpg');
  background-position: center top;
  background-repeat: no-repeat;
}

.section-professional-services {
  background: url('../../../static/backgrounds/prof.serv.png');
  background-position: center center;
  background-repeat: no-repeat;
}
