/*
|--------------------------------------------------------------------------
| Bulma Over-writes
|--------------------------------------------------------------------------
|
|
*/

$turquoise: #00AFEF;
$green: #00B760;

/*
|--------------------------------------------------------------------------
| Sizing
|--------------------------------------------------------------------------
|
|
*/

$spacers: (
    0: '0',
    _25: '0.25rem',
    _5: '0.5rem',
    1: '1.0rem',
    1_5: '1.5rem',
    2: '2.0rem',
    2_5: '2.5rem',
    3: '3.0rem',
    3_5: '3.5rem',
    4: '4.0rem',
    4_5: '4.5rem',
    5: '5.0rem',
    a: 'auto'
);

$sides: (
    a: '',
    l: '-left',
    r: '-right',
    t: '-top',
    b: '-bottom'
);

/*
|--------------------------------------------------------------------------
| Z-index
|--------------------------------------------------------------------------
|
|
*/

$z-indexes: (
  l0: 0,
  l1: 10,
  l2: 20,
  l3: 30,
  l4: 40,
  l5: 50,
  l6: 60,
  l7: 70
)
