@include mobile {
  .services-intro {
    @include header-spacing;

    .title.is-1 {
      font-size: 2rem;
    }
  }
};

@include tablet {

  .services-intro {
    background-image: url(../images/backgrounds/section-alignment-min.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    &:after {
      @include swoosh;
    }
  }

  .services-professional-services {
    background-image: url(../images/backgrounds/services-workshops-min.jpg);
    background-position: 70% 0;
    background-size: auto 100%;
    background-repeat: no-repeat;
  }

  .services-retreats {
    position: relative;

    :before {
      content: '';
      background-image: url(../images/backgrounds/Triangles-min.png);
      background-repeat: no-repeat;
      background-position: left center;
      background-size: cover;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: .05;
    }
  }

}
