@include mobile {
  .resources-intro {
    @include header-spacing;
    background: linear-gradient(180deg, rgba(darken($primary, 30%), .85) 0%, rgba(darken($primary, 15%), .6) 100%);

    .title.is-1 {
      font-size: 2rem;
    }
  }
};

@include tablet {
  .resources-intro {
    background-image: url(../images/backgrounds/wing-min.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    .hero-body {
      background: linear-gradient(180deg, rgba(darken($primary, 30%), .85) 0%, rgba(darken($primary, 15%), .6) 100%);
    }

    &:after {
      content: "";
      display: block;
      padding-bottom: 4%;
      background-image: url(../images/backgrounds/round-edge.svg);
      width: 110%;
      margin-left: -5%;
      margin-bottom: -.625rem !important;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center top;
      margin-top: -3%;
    }
  }
};
