.section-home-intro {
  position: relative;
}

@include mobile {

  .section-home-about {
    background: $white-bis;
    background-image: none;
  }

  .section-about-etw {
    background: $white-bis;
  }

  .section-home-intro {
    .scroll-down {
      display: none;
    }

    h1.is-1 {
      font-size: 2rem;
      line-height: 2rem;
      font-weight: 700;
      text-align: center;
    }
  }

  .section-intro {
    padding-top: 3rem;
    background: $dark;
  }

  .section-bms {
    background: $white-ter;
  }

  .section-professional-services {
    background: $white-bis;
  }

  .section-software-home {
    background: $white-bis;
  }

  .section-testimonials {
    background: $white-ter;
  }
}

@include tablet {
  .section-home-intro {
    background-image: url(../../../static/backgrounds/boardroom.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;

    h1.is-1 {
      font-size: 4rem;
      line-height: 5rem;
      font-weight: 700;
    }

    .highlighted {
      text-decoration: underline;
      text-decoration-color: $warning;
    }

    &:after {
      content: "";
      display: block;
      padding-bottom: 3%;
      background-image: url(../../../static/backgrounds/round-edge.svg);
      width: 110%;
      margin-left: -5%;
      margin-bottom: -.625rem !important;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center top;
      margin-top: -3%;
    }

    .hero-body {
      background: linear-gradient(135deg, rgba(darken($grey, 35%), .85) 0%, rgba(darken($grey-dark, 50%), .9) 100%);
    }

    .button {
      box-shadow: 0 1px 1px rgba($black, .2);
    }

  }

  .section-bms {
    background: $white-ter;
  }

  .section-home-about {
    background-image: url(../../../static/backgrounds/section-about.jpg);
    background-size: cover;
    background-position: right top;
  }

  .section-professional-services {
    background-image: url(../../../static/backgrounds/section-services.jpg);
    background-size: cover;
  }

  .section-software {
    background-image: url(../../../static/backgrounds/section-software.jpg);
    background-size: cover;
    background-position: center top;
  }

  .section-testimonials {
    background: $white-ter;
  }
}
