@include mobile {
  .section-about-etw {
    background: $white-bis;
  }

  .section-intro {
    padding-top: 3rem;
    background: $dark;
  }

  .section-bms {
    background: $white-ter;
  }

  .section-professional-services {
    background: $white-bis;
  }

  .section-software-home {
    background: $white-bis;
  }

  .section-testimonials {
    background: $white-ter;
  }
}

@include tablet {
  .section-intro {
    background: $primary;
    background-image: url(../../../static/backgrounds/bg-triangles.svg);
    background-image: url(../../../static/backgrounds/bg-triangles.svg), linear-gradient(135deg, darken($primary, 20%) 0%, $primary 100%);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    &:after {
      content: "";
      display: block;
      padding-bottom: 3%;
      background-image: url(../../../static/backgrounds/round-edge.svg);
      width: 110%;
      margin-left: -5%;
      margin-bottom: -.625rem !important;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center top;
    }
  }

  .section-about-etw {

  }

  .section-bms {
    background: $white-ter;
  }

  .section-professional-services {
    background-image: url(../../../static/backgrounds/section-services.jpg);
    background-size: cover;
  }

  .section-software {
    background-image: url(../../../static/backgrounds/section-software.jpg);
    background-size: cover;
    background-position: center top;
  }

  .section-testimonials {
    background: $white-ter;
  }
}
