.hero-contact-intro {
  background: $success;
  background-image: linear-gradient(135deg, darken($success, 15%) 0%, $primary 100%);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;

  &:after {
    content: "";
    display: block;
    padding-bottom: 3%;
    background-image: url(../../../static/backgrounds/round-edge.svg);
    width: 110%;
    margin-left: -5%;
    margin-bottom: -.625rem !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    margin-top: -3%;
  }
}
