@include mobile {
  .hero-software-intro {
    background: $grey-darker;
  }
}

@include tablet {
  .hero-software-intro {
    background: $success;
    background-image: url(../../../static/backgrounds/bg-triangles.svg);
    background-image: url(../../../static/backgrounds/bg-triangles.svg), linear-gradient(135deg, darken($success, 20%) 0%, $success 100%);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin-bottom: 40px;

    .hero-body {
      background-image: url(../../../static/backgrounds/bg-software-intro.png);
      background-position: top center;
      background-repeat: no-repeat;
      margin: -40px;
    }
  }

  .section-software-notes {
    background-image: url("../../../static/backgrounds/software-notes.svg");
    background-position: left center;
  }

  .sr-note-1 {
    animation-delay: 2s;
  }

  .section-software-kpi {
    background-image: url("../../../static/backgrounds/software-kpi.jpg");
    background-position: left top;
  }

  .section-software-evaluations {
    background-image: url("../../../static/backgrounds/software-evaluations.jpg");
    background-position: left top;
  }

  .section-software-plans {
    background-image: url("../../../static/backgrounds/software-plans.jpg");
    background-position: left center;
  }

};
