@include mobile {
  .hero-testimonials {
    background: $grey-darker;
  }
}

@include tablet {
  .hero-testimonials {
    background-image: url("../../../static/backgrounds/testimonials-banner-homeroom.jpg");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;

    &:after {
      content: "";
      display: block;
      padding-bottom: 3%;
      background-image: url(../../../static/backgrounds/round-edge.svg);
      width: 110%;
      margin-left: -5%;
      margin-bottom: -.625rem !important;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center top;
    }
  }
};
