@include mobile {
  .hero-software-intro {
    background: $grey-darker;
  }
}

@include tablet {
  .hero-software-intro {
    background: $primary;
    background-image: linear-gradient(180deg, rgba(darken($primary, 30%), 1) 0%, rgba(darken($primary, 30%), 1) 10%, rgba(darken($primary, 20%), .6) 100%), url(../../../static/backgrounds/code.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin-bottom: 40px;
    position: relative;

    .hero-body {
      background-image: url(../../../static/backgrounds/bg-software-intro.png);
      background-position: top center;
      background-repeat: no-repeat;
      background-size: 600px auto;
      z-index: map-get($z-indexes, l1);
    }

    &:after {
      content: "";
      display: block;
      padding-bottom: 3%;
      background-image: url(../../../static/backgrounds/round-edge.svg);
      width: 110%;
      margin-left: -5%;
      margin-bottom: -.625rem !important;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center top;
      margin-top: -3%;
    }

    .store-button {
      height: 50px;
    }
  }

  .section-software-notes {
    background-image: url("../../../static/backgrounds/software-notes.svg");
    background-position: left center;
  }

  .sr-note-1 {
    animation-delay: 2s;
  }

  .section-software-kpi {
    background-image: url("../../../static/backgrounds/software-kpi.jpg");
    background-position: left top;
  }

  .section-software-evaluations {
    background-image: url("../../../static/backgrounds/software-evaluations.jpg");
    background-position: left top;
  }

  .section-software-plans {
    background-image: url("../../../static/backgrounds/software-plans.jpg");
    background-position: left center;
  }

};
