<div>


  <!--

  INTRO

  -->
  <section class="hero is-medium is-dark services-intro">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <h1 class="title is-1 has-text-centered sr-up">
              ETW offers a wide range of professional services to better align your organization
            </h1>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- MAIN PAGE CONTENT -->
  <div class="container">


    <!--

    PROFESSIONAL SERVICES

    -->
    <section class="hero is-medium services-professional-services is-light m-y-2">
      <div class="hero-body">
        <div class="columns">
          <div class="column is-5 is-offset-1">
            <div class="m-b-2">
              <h5 class="has-text-grey sr-up">PROFESSIONAL SERVICES</h5>
              <h1 class="title is-1 sr-up">Workshops and Facilitations</h1>
            </div>
            <p class="m-b-2 is-size-5 sr-up">The ETW Professional Services team ​brings a practical approach to executive workshops that engages your team to produce actionable results you can apply the very next day.  We specialize in facilitating strategic planning sessions, executive retreats and leadership development workshops.  Have a unique need? Allow us to pull from decades of experience to create ​a custom solution to align your team and produce exceptional results.</p>
            <button class="button is-medium is-rounded is-outlined is-primary sr-up" v-on:click="toggleContactModal()">
              <span class="is-hidden-mobile">Contact us to request a proposal</span>
              <span class="is-hidden-tablet">Request proposal</span>
            </button>
          </div>
        </div>
      </div>
    </section>


    <!--

    RESOURCES

    -->
    <section>
      <div class="columns is-multiline">
        <div class="column is-one-third sr-up" v-for="service in services">
          <div class="card is-fullheight">
            <div class="card-header p-y-1 p-x-1" v-bind:style="`background: ${service.color};`">
              <p class="card-header-title title is-4 has-text-white">
                {{ service.title }}
              </p>
            </div>
            <div class="card-content">
              <div class="content">
                <p>{{ service.description }}</p>
                <div class="tags">
                  <span class="tag" v-for="tag in service.tags">{{ tag }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!--

    CUSTOM PROPOSAL

    -->
    <section class="hero is-medium is-dark is-bold services-retreats m-y-2">
      <div class="hero-body">
        <div class="columns is-centered">
          <div class="column is-6">
            <div class="m-b-2">
              <h5 class="has-text-grey sr-up">CUSTOM PROPOSAL</h5>
              <h1 class="title is-1 sr-up">Customized Corporate and Leadership Retreats</h1>
            </div>
            <p class="m-b-2 is-size-5 sr-up">What are you trying to accomplish with your next corporate retreat? We can work with you to put together a custom program that helps you accomplish your goals and address your biggest challenges. Services are customizable and can range from
              two hour workshops to multi-day strategy, leadership or culture themed programs.</p>
            <button class="button is-medium is-rounded is-primary sr-up" v-on:click="toggleCustomServicesModal()">
              <span class="is-hidden-mobile">Contact us to request a proposal</span>
              <span class="is-hidden-tablet">Request proposal</span>
            </button>
          </div>
        </div>
      </div>
    </section>


  </div>
  <!-- end of container -->


  <!--

  PROFESSIONAL SERVICES CONTACT MODAL

  -->
  <modal-hubspot
      v-bind:is-active="isContactModalActive"
      modal-id="contact"
      modal-title="Contact Professional Services"
      form-id="cd84c977-d3a4-46d1-915e-59c7a9cc6deb"
      @toggleModal="toggleContactModal()">
  </modal-hubspot>


  <!--

  CUSTOM PROFESSIONAL SERVICES CONTACT MODAL

  -->
  <modal-hubspot
      v-bind:is-active="isCustomServicesModalActive"
      modal-id="services"
      modal-title="Custom Professional Services"
      form-id="fe155ab5-8a6a-49a3-8a5f-71a34ba6dfdc"
      @toggleModal="toggleCustomServicesModal()">
  </modal-hubspot>

</div>
